
<%= render "nav" %>

<div class="large-12 columns page_title">
	Project Listings
</div>

<div class="large-12 columns">
	<dl class="sub-nav">
	  <dd class="active"><a href="#">Featured</a></dd>
	  <dd><a href="#">All</a></dd>
	</dl>
</div>

<div class="large-8 columns h_line">
	<hr>
</div>

<div class="large-12 columns">
	<% projects = Project.all %>
	<% projects.each do |project| %>
		<div class="large-6 columns end listing">
			<div id="rectangle"></div>
			<span class="large-12 columns listing-title"><%= project.title %></span>
			<span class="large-12 columns listing-subtitle"><%= project.description %></span>
			<hr>
			<span class="looking-for">Looking For:</span>
		</div>
	<% end %>
</div>
