
<nav class="top-bar" data-topbar role="navigation">

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <a href="#"><img src="<%= image_path('ds_logo_resized3.png') %>" /></a>
    <a href="#">Home</a>
    <div class="right verticalLine">
		<a href="#" class="login_link">Log In</a>
		<a href="#" class="register_link">Register</a>
    </div>

    <div class="right">
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
  </section>
</nav>


<div class="page_title">
	Project Listings
</div>

<div class="large-12 columns">
	<dl class="sub-nav">
	  <dd class="active"><a href="#">Featured</a></dd>
	  <dd><a href="#">All</a></dd>
	</dl>
</div>

<div class="large-8 columns h_line">
	<hr>
</div>

<div class="large-12 columns">
	<% projects = Project.all %>
	<% projects.each do |project| %>
		<div class="large-6 columns end listing">
			<div id="rectangle"></div>
			<span class="large-12 columns listing-title"><%= project.title %></span>
			<span class="large-12 columns listing-subtitle"><%= project.description %></span>
			<hr>
			<span class="looking-for">Looking For:</span>
		</div>
	<% end %>
</div>
