

$datahive-blue: #003262;
$datahive-grey: #979797;
$datahive-black: #000000;
$link-color: #022D63;
$hover-color: #055173;

$bio-color: #A1AC49;
$biz-color: #653611;
$social-color: #56626E;
$humanities-color: #DC3A63;
$physical-color: #F4BA46;
$engin-color: #4FAED6;



$default-font: Helvetica;

$project-title-fontsize: 22px;

$page-title-font: Helvetica-Light;
$page-title-fontsize: 36px;

$labels-fontsize: 14px;

