
@import "variables";


.login-form {
	padding-top: 150px;
}

input[type=submit] {
	font-size: 14px;
	border: 1px solid $datahive-blue;
	border-radius: 2px;
	background: transparent;

	&:hover {
		background: $hover-color;
		color: #FFFFFF;
	}
}

