// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project-description {
  margin: 90px !important;
  padding: 90px;
  border: 1px solid;
  border-color: #000000;
  h1 {

  }
}
