<nav class="top-bar" data-topbar role="navigation">

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <%= link_to image_tag('ds_logo_resized3.png'), root_path %>
    <%= link_to 'Home', root_path%>
    <%= link_to 'Create', new_project_path%>

    <div class="right verticalLine">
      <% user_email = current_user.email %>
      <% email_index = user_email.index("@") %>
      <%= link_to current_user.email[0,email_index], root_path %>
    </div>

    <div class="show-for-medium-up right">
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
  </section>
</nav>
